<ul>
  <% @tasks.each do |task| %>
  <li><%= task[:name] %> &nbsp; &nbsp; &nbsp;
    <%= link_to "View Details", task_path(task.id) %>

    <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "are you sure you want to delete #{task.name}?" } %>

    <%= link_to "Mark Complete", update_status_task_path(task.id), method: :patch %>


    <%= link_to "edit task", edit_task_path(task.id) %>

  </li>
  <% end %>
</ul>

<%= link_to "Add Task", new_task_path %>
