<h3>here is task # <%= @task[:id] %></h3>
<%= @task[:name] %>

<p>Task description: <%= @task[:description] %></p>

<p>completed date: <%= @task[:completion_date] %></p>


<%= link_to "edit task", edit_task_path %>
